<ul class="list-unstyled nav1 cl-effect-10">
    <li><a data-hover="Manage Users" asp-action="Index" asp-controller="AdminUsers"><span>Manage Users</span></a></li>
    <li><a data-hover="Manage Reservations" asp-action="Index" asp-controller="AdminReservations"><span>Manage Reservations</span></a></li>
    <li><a data-hover="Manage Rooms" asp-action="Index" asp-controller="AdminRooms"><span>Manage Rooms</span></a></li>
    <li><a data-hover="Manage Restaurant" asp-action="Index" asp-controller="AdminRestaurant"><span>Manage Restaurant</span></a></li>
    <li><a data-hover="Manage Orders" asp-action="Index" asp-controller="Order"><span>Manage Orders</span></a></li>
</ul>